// goods__pagination  pagination
.pagination {
	padding: 20px 0;
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: center;
	width:fit-content;

	&__item:not(:last-child) {
		margin-right: 20px;
	}

	&__link {
		font-weight: 400;
		font-size: 14px;
		color: $gray;
		&_active{
			color: $main-color;
		}
	}
	
	&__arrow	{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&-start{
			left: -50px;
			right: auto;
		}
		&-end{
			right: -50px;
			left: auto;
		}
		&_disabled{
			svg{
				fill:#8A8A8A
			}
		}
	}
}