// goods__pagination  pagination
.pagination {
	position: relative;
	margin: 0 auto;
	padding-top: 40px;
	width: max-content;
	display: flex;
	gap: 16px;


	&__list {
		display: flex;
		padding-top: 3px;
		padding-bottom: 6px;
		gap: 8px;
	}

	&__link {
		position: relative;
		width: 16px;
		font-weight: 400;
		font-size: 14px;
		color: $gray;

		&:after {
			display: block;
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: -6px;
			height: 1px;
			background-color: transparent;
		}

		&_active {
			color: $main-color;
			
			&:after {
				background-color: $main-color;
			}
		}
	}
	
	&__arrow	{
		color: $main-color;

		&_disabled{
			color: $gray;
			pointer-events: none;
		}
	}
}