.product {

	&__link {
	}

	&__image {
		margin-bottom: ;
	}

	&__title {
		margin-bottom: ;
	}

	&__row {
	}

	&__price {
	}

	&__btn-favorite {
		background-image: url();
	}

	&__color-list {
	}

	&__color-item {
	}
}
.color {

	&_red {
	}

	&_check {
	}

	&_white {
	}

	&_pink {
	}
}